<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="admin/_fragment :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-with, initial-scale=1.0">
    <!-- 导入依赖 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/my.css" th:href="@{/css/my.css}">
    <title>首页</title>
</head>

<body>
<!-- 导航 -->
<nav th:replace="admin/_fragment :: menu(1)" class="ui inverted attached segment my-shadow-small "></nav>

<!--二级导航-->
<div th:replace="admin/_fragment :: frag" class="ui  attached pointing menu"></div>


<!--中间部分-->
<div class="my-container-small my-padded-tb-big ">
    <div class="ui container">
        <div class="ui success large message">
            <h2>Hi,</h2>
            <p>李志强，欢迎登录</p>
        </div>
        <img src="https://picsum.photos/id/1005/1000/400" alt="" class="ui rounded bordered fluid image">
    </div>
</div>

<!-- 尾部-->
<footer th:replace="admin/_fragment :: footer" class="ui inverted vertical segment"></footer>




<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>

<script>

    $('.menu.toggle').click(function (){
        console.log(1);
        $('.m-item').toggleClass('m-mobile-hide');
    });

    $('.ui.dropdown').dropdown({
        on:'hover'
    });
</script>
</body>
</html>